<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700|Roboto:300,400,700|Noto+Serif:400" rel="stylesheet" type="text/css">
	<style>
	  {{{css}}}
    {{{icons}}}
	</style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=UA-114681426-1'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-114681426-1');
  </script>

  </head>
  <body>
    <div class="top-icons left">
      <a href="../" title="Home">
        <i class="icon icon-home" aria-hidden="true"></i>
      </a>
      <div class="label">Home</div>
    </div>

    <div class="top-icons right">
      <div class="border">
        <a href="#" class="hover" onclick="window.print();" title="Print Resume">
          <i class="icon icon-printer" aria-hidden="true"></i>
        </a>
        <div class="label">Print</div>
      </div>

      <div>
        <a href="Andrew McOlash.pdf" target="_blank" title="Download Resume" download>
          <i class="icon icon-floppy-disk" aria-hidden="true"></i>
        </a>
        <div class="label pad-extra">PDF</div>
      </div>
    </div>

    <div id='resume-container'>
    {{#resume.basics}}
      <div class='header card'>
        <div class="left">
          <h1 id='name'>
            {{name}}
          </h1>
          <span class='term'>{{label}}</span>
        </div>
        <div class="right">
          <div class='section-content' id='contact'>
            <div class='contact'>
              <div class='email'>
                Email: <a href='mailto:{{email}}'>{{email}}</a>
              </div>
              <div class='phone-number'>
                Phone: <a href="tel:{{phone}}">{{phone}}</a>
              </div>
              {{#if website}}
                <div class='site'>
                  Website: <a href="{{website}}">{{website}}</a>
                </div>
              {{/if}}
              {{#if profiles.length}} {{#each profiles}} {{#if url}}
              <div class='site'>
                {{network}}: <a href='{{url}}'>{{url}}</a>
              </div>
              {{/if}} {{/each}} {{/if}}
            </div>
          </div>
        </div>
      </div>
	  {{/resume.basics}}
    <div class="columns">
      <div class='left-content'>
        {{#if resume.education.length}}
        <section class='card'>
          <div class='section-header'>Education</div>
          <div class='section-content' id='education'>
            {{#each resume.education}}
            <div class='education last'>
              <div class='education-info'>
                <div class='title'>
                  {{#if studyType}}{{studyType}}{{/if}} in {{#if area}}{{area}}{{/if}}
                  <br>at {{#if institution}} {{institution}} {{/if}}</div>
                <div class='duration'>
                  {{#if startDate}} {{date startDate}} {{/if}} {{#if endDate}} - {{date endDate}} {{else}} - Present {{/if}}
                </div>
                <div class='info'>
                  {{#if highlights.length}}
                  <ul class="list">
                    {{#each highlights}}
                    <li>{{.}}</li>
                    {{/each}}
                  </ul>
                  {{/if}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </section>
        {{/if}}
        {{#if resume.projects.length}}
        <section class='card'>
          <div class='section-header'>Projects</div>
          <div class='section-content' id='projects'>
            {{#each resume.projects}}
            <div class='project {{#if @last}}last{{/if}}'>
              <div class='project-info'>
                <div class='title'>
                  {{#if url}}
                    <a href="{{url}}">{{title}}</a>
                  {{else}}
                    {{title}}
                  {{/if}}
                </div>
                {{#if startDate}}
                  <div class='duration'>
                    {{#if startDate}} {{date startDate}} {{/if}} {{#if endDate}} - {{date endDate}} {{else}} - Present {{/if}}
                  </div>
                {{/if}}
                <div class='info'>
                  {{#if highlights.length}}
                  <ul class="list">
                    {{#each highlights}}
                    <li>{{.}}</li>
                    {{/each}}
                  </ul>
                  {{/if}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </section>
        {{/if}}
        {{#if resume.skills.length}}          
          <section class='card'>
            <div class='section-header'>Technical Skills</div>
            <div class='section-content' id='technical-skills'>
              <div id='skills-container'>
          {{#each resume.skills}}
            <div class='skills {{#if @last}}last{{/if}}'>
              {{#if name}}
                <div class='title'>{{name}}</div>
              {{/if}}
              {{#if level}}
              <div class="level">
                <em>{{level}}</em>
              </div>
              {{/if}}
            {{#if keywords.length}}
            <p>
              {{#each keywords}}
              {{.}}{{#unless @last}},{{/unless}}
              {{/each}}
            </p>
            {{/if}}
            </div>
          {{/each}}
              </div>
            </div>
          </section>
          {{/if}}
        </div>
        <div class='right-content'>
          {{#if resume.work.length}}
          <section class='card'>
            <div class='section-header'>Employment</div>
            <div class='section-content' id='employment'>
              {{#each resume.work}}
              <div class='employment {{#if @last}}last{{/if}}'>
                <div class='employment-info'>
                  <div class='title'>
                    {{#if company}}
                      <a href='{{#if website}}{{website}}{{/if}}'>
                        {{company}}
                      </a>
                    {{/if}}
                    {{#if position}}
                      <span>{{position}}</span>
                    {{/if}}
                  </div>
                  <div class='duration'>
            {{#if startDate}}
                  {{date startDate}}
                {{/if}}
                {{#if endDate}}
                  - {{date endDate}}
                {{else}}
                  - Present
                {{/if}}
                  </div>
                </div>
                <div class='info'>
              {{#if highlights.length}}
              <ul class="list">
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
              </ul>
              {{/if}}    
                </div>
              </div>
              {{/each}}
            </div>
          </section>
          {{/if}}

        {{#if resume.volunteer.length}}          
          <section class='card {{#unless resume.references.length}}last{{/unless}}'>
            <div class='section-header'>Volunteering</div>
            <div class='section-content' id='voulnteering'>
              {{#each resume.volunteer}}
                <div class='volunteer {{#if @last}}last{{/if}}'>
                  <div class='volunteer-info'>
                    <div class='title'>
                      {{#if organization}}
                        {{#if website}}
                          <a href='{{website}}'>
                            {{organization}}
                          </a>
                        {{else}}
                          {{organization}}
                        {{/if}}
                      {{/if}}
                      {{#if position}}
                        <span>{{position}}</span>
                      {{/if}}
                    </div>
                    <div class='duration'>
                      {{#if startDate}} {{date startDate}} {{/if}} {{#if endDate}} - {{date endDate}} {{else}} - Present {{/if}}
                    </div>
                  </div>
                  <div class='info'>
                    {{#if summary}}
                      <p>{{summary}}</p>
                    {{/if}}
                    {{#if highlights.length}}
                    <ul class="list">
                      {{#each highlights}}
                      <li>{{.}}</li>
                      {{/each}}
                    </ul>
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            </div>
          </section>
        {{/if}}
          
        {{!-- {{#if resume.references.length}}
          <section class='card last' style="margin-bottom: 48px;">
            <div class='section-header'>References</div>
            <div class='section-content' id='interests'>
            {{#each resume.references}}            	
              {{#if reference}}
              <blockquote class="reference">
                {{reference}}
              </blockquote>
              {{/if}}
              {{#if name}}
              <div class="name">
                — {{name}}
              </div>
              {{/if}}
            {{/each}}
            </div>
          </section>
          {{/if}} --}}
        </div>
      </div>
    </div>
  </body>
</html>